.footer {

    /* padding: 2rem; */
    font-family: 'Arial', sans-serif;
    font-size: 0.9rem;
  }
  
  .footer__top {
    background-color: #ffffff;
    color: #282C31;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  
  .footer__section {
    flex: 1 1 200px; 
    margin: 1rem;
  }
  
  .footer__section h3 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .footer__section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer__section ul li {
    margin-bottom: 0.5rem;
  }
  
  .footer__section ul li:hover {
    text-decoration: underline;
  }
  
  .footer__bottom {
    background-color: #282C31;
    color: #ffffff;
    text-align: center;
    /* margin-top: 2rem; */
  }
  
  .footer__bottom ul {
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;
  }
  
  .footer__bottom ul li {
    display: inline;
    margin-right: 15px;
  }
  
  .footer__bottom p {
    margin-top: 1rem;
    font-size: 0.85rem;
  }
  
  @media (max-width: 768px) {
    .footer__top {
      flex-direction: column;
      align-items: center;
    }
  
    .footer__section {
      flex: 1 1 100%;
      margin: 0.5rem 0;
    }
  
    .footer__bottom ul {
      text-align: center;
    }
  }
  